- name: Ufw Setup
  apt:
    name:
      - ufw
    state: present

- name: Allow ssh 
  ufw:
    rule: allow
    port: '22'
    proto: tcp

- name: Allow https 
  ufw:
    rule: allow
    port: '443'
    proto: tcp

- name: Deny everything else and enable UFW
  ufw:
    state: enabled
    policy: deny
